[user]
	name = Roger Steve Ruiz
	email = roger.ruiz@rokkan.com
[color]
	ui = true
[core]
	editor = subl -w  
	quotepath = false
	excludesfile = /Users/rogeruiz/.gitignore_global
[github]
	user = rogeruiz
[diff]
	tool = "bbdiff"
[difftool]
	prompt = true
[difftool "bbdiff"]
	cmd = /usr/local/bin/bbdiff --wait --resume "$LOCAL" "$REMOTE"
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	fall = fetch --all
	mr = merge
	unstage = reset HEAD
	pl = pull
	ps = push
	ls = stash list
	save = stash save
	pop = stash pop
	verbose = log --graph --stat --pretty=format:'The author of %Cblue%h%Creset was %C(yellow)%an%Creset, %C(blue)%ar%Creset, and they said \n%C(yellow)%s\n%C(green)==========================================================\n%b%C(green)==========================================================\n%Creset'
	# gist = log --format='%C(red)%h%Creset %C(green)%an%Creset - %C(yellow)%s%Creset' --graph
	gist = log --pretty=format:'%C(red)%h%Creset%C(white)%d %C(green)%an%Creset - %C(yellow)%s %Cgreen(%cr)%Creset' --graph --date=relative
	continue = rebase --continue
	url = config --local --get-regexp remote\\.\\.\\*\\.url
	last = log -1 --graph --stat --pretty=format:'The author of %Cblue%h%Creset was %C(yellow)%an%Creset, %C(blue)%ar%Creset, and they said \n%C(yellow)%s\n%C(green)==========================================================\n%b%C(green)==========================================================\n%Creset'